/*-----------------------------------------------------------------------------------*/
/* Buttons
/*-----------------------------------------------------------------------------------*/

.button {
	transition: $transition-regular;
  background: $transparent;
  border-width: 1px;
  border-color: $primary-color;
	font-family:  $primary-font;
  color:  $primary-color;
  font-weight: $Bold;
  padding: 8px 30px !important;
  font-size: .8rem;
  text-transform: uppercase;
  border-radius: $border-radius;

	&:hover {
		cursor: pointer;
		background: linear-gradient(to right, $color-1 , $color-6);
		color: $white !important;
	}

	&//Button sizes
	.smallBTN {
		padding: $small-button-padding !important;
		font-size: $small-button-font !important;
		border-radius: $small-button-radius !important;
	}
	&.mediumBTN {
		padding: $medium-button-padding !important;
		font-size: $medium-button-font !important;
		border-radius: $medium-button-radius !important;
	}
	&.largeBTN {
		padding: $large-button-padding !important;
		font-size: $large-button-font !important;
		border-radius: $large-button-radius !important;
	}

}

.buttonHolder {
	margin-top: 20px;
}

//inverted button
.inverted {
    .button {
        border-color: $white !important;
        color:$white !important;

        &:hover {
        }
    }
}


//form Buttons
input[type=submit] {
	line-height: 1rem;
}
